body {
	background: url("../images/geobackground.jpg");

}

.jumbotron {
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background-color: white;
}

h2 {
	text-align: center;
} 
	
p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h5 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: bold;

}
